:root {
  --md-tooltip-width: 750px;
  --md-default-fg-color--light: #cecece;
  --grid-w: 50vw;

  --md-primary-glow-color: #4715fa;

  --shadow-s: 0 1px 2px #00000030, 0 2px 4px #00000015;
  --shadow-m: 0 2px 4px #00000030, 0 4px 8px #00000015;
}

/* Scroll Margin */
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 2.5rem !important; 
}

/* Page Background Color */
[data-md-color-scheme="slate"] {
  --md-default-bg-color: #090909;
}

/* Hover Color */
[data-md-color-accent="indigo"] {
  --md-accent-fg-color: #4e389d;
  --md-typeset-color: #ddd;
}

/* H1, H2, etc */
.md-typeset h1 {
    color: #999;
    font-size: 2em;
    margin-bottom: -0.25em;
}
.md-typeset h2 {
  color: #ccc;
  font-size: 1.75em;
  font-weight: 400;
  margin-top: 1em;
}
.md-typeset h3 {
  font-size: 1.5em;
  margin-bottom: -0.25em;
}
.md-typeset h4 {
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: -0.25em;
}
.md-typeset h5 {
  color: #999;
}
.md-typeset code {
  color: #fff;
  background-color: #1e1e1e;
}
.filename {
  color: #fff;
  background-color: #1e1e1e !important;
}
.md-typeset p {
  font-size: .7rem;
}

.md-typeset ul {
  margin-top: -0.5em;
}
.md-typeset li {
  font-size: .63rem;
}

/* Header */
.md-header {
  background-color: #000;
  z-index: 100;
}
.md-nav__title {
  color: #fff;
}
.md-header__title {
  margin-left: 0.25rem !important;
}

.md-header__button.md-logo {
  min-width: 2rem;
}

/* Tab list inside header */
@media (min-width: 60rem) {
.md-header .md-tabs {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: var(--md-header-height, 3.2rem);
    background: transparent;
    box-shadow: none;
    z-index: auto;
  }
  
  .md-header .md-tabs__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 0.25rem;
  }
  
  .md-header__inner {
    padding-right: 20rem;
  }
}

.round-corners {
  border-radius: 0.75em;
}

/* Footer */
.md-footer,
.md-footer-meta {
    background-color: #000;
}

@media screen and (min-width:45em) {
  .md-social {
    padding: 0;
  }
}

.copy {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  align-content: center;
}
.copy > img {
  width: 1.1em;
  vertical-align: middle;
  transition: opacity 125ms;
}
.copy:hover > img {
  opacity: 0.69;
}

@media (min-width: 60rem) {
  .md-sidebar--primary { 
    display: none; 
  }
}

@media (min-width: 100rem) {
  .md-sidebar--primary { 
    display: none; 
  }
  .md-grid {
    max-width: var(--grid-w);
  }
  .md-sidebar--secondary{
    position: fixed !important;
    top: calc(var(--md-header-height) + 1rem);
    right: max(1rem, calc((100vw - var(--grid-w))/2 - 19rem));
    width: 18rem;
    height: calc(100vh - var(--md-header-height) - 3rem);
    overflow: auto;
    z-index: 2;
  }
}

.md-sidebar--primary{
  z-index: 101;
}

/* Button */
button {
  border: .1rem solid;
  padding: 0.4em 1em;
  border-radius: 100vh;
  margin-right: 0.1rem;
  border-color: var(--md-primary-fg-color);
  color: var(--md-primary-fg-color) !important;
  cursor: pointer;
  font-weight: 700;
  transition: all 200ms ease !important;
  text-align: center;
  font-size: 16px;
}
button:hover {
  background-color: var(--md-primary-fg-color);
  border-color: var(--md-primary-fg-color);
  color: #fff !important;
}

.big-button {
  border: .1rem solid;
  border-radius: 100vh;
  margin-right: 0.1rem;
  border-color: var(--md-primary-fg-color);
  color: var(--md-primary-fg-color) !important;
  cursor: pointer;
  display: block;
  width: 100%;
  font-weight: 700;
  transition: all 200ms ease !important;
  text-align: center;
  padding: 0.5rem;
  font-size: 20px;

  &:focus, 
  &:hover {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
    color: #fff !important;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-links {
  text-align: center;
  margin-bottom: 1rem;
  font-size: .75rem;
  font-variation-settings: 'wght' 350;
}
.nav-links .active {
  font-variation-settings: 'wght' 750;
}

select {
  background-color: #252525 !important;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dropdown {
  padding: .15rem;
  background: #252525;
  border: .1rem solid;
  border-radius: 0.5rem;
  border-color: transparent;
  font-weight: 200;
  font-size: 17px;
  font-family: Inter, sans-serif;
  text-align: center;
  color: #ccc;
  transition: all 200ms ease;

  &:hover {
    border-color: var(--md-primary-fg-color);
  }

  &:focus-visible {
    border-color: #9152ff;
  }
}

.textinput {
  width: 1.8rem;
  padding: .15rem;
  background: #252525;
  border: .1rem solid;
  border-radius: 0.5rem;
  border-color: transparent;
  font-weight: 200;
  font-size: 17px;
  font-family: Inter, sans-serif;
  text-align: center;
  color: #ccc;
  transition: all 200ms ease;
  box-shadow: var(--shadow-s);

  &:hover {
    border-color: var(--md-primary-fg-color);
  }

  &:focus-visible {
    border-color: #9152ff;
  }
}

.noselect {
  -webkit-user-select: none;
  user-select: none;
}

.testline {
  outline: 1px solid #fff;
}