@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

.reddit {
  color: #ff5719 !important;
  font-variation-settings: 'wght' 650;
  transition: all 200ms ease !important;
  &:hover {
    color: #ff6026 !important;
    text-shadow: 0 0 32px #ff3c00;
    font-variation-settings: 'wght' 800;
  }
}

.twitter {
  color: #1DA1F2 !important;
  font-variation-settings: 'wght' 650;
  transition: all 200ms ease !important;

  &:hover {
    color: #2ca6f2 !important;
    text-shadow: 0 0 32px #0091ff;
    font-variation-settings: 'wght' 800;
  }
}